:root {
    --mainColor: #180a00;
    --subColor: #555;
    --sideSpace: 0.7rem;
    --maxWidth: 1080px;
}

*,
::before,
::after {
    box-sizing: border-box;
    scrollbar-width: none;
    /* Firefox 対応 */
}

@font-face {
    font-family: 'Current';
    src: url('../font/Current-Regular.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
}

main a:hover {
    opacity: 0.6;
    filter: brightness(105%);
}

/* メニュー部 */
menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5e8be;
    padding: 5rem var(--sideSpace);
    text-align: center;
    overflow-y: scroll;
    visibility: hidden;
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width: none;
    /* Firefox 対応 */
    z-index: 1;
}

menu::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 対応 */
}

menu>div {
    max-width: 25rem;
    margin: 0 auto;
}

menu>div>#menuicon {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 100%;
}

menu>div>#menuicon>img {
    width: 100%;
}


menu.is-open {
    visibility: visible;
    opacity: 1;
}


/* ヘッダー */
header {
    width: 100%;
    position: fixed;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 50px;
    background-color: #ffffff;
    top: 0;
    z-index: 999;
}

header>a {
    display: block;
}

header svg {
    height: 100%;
}

header use {
    fill: var(--mainColor);
}

header.is-open {
    visibility: hidden;
}

.title {
    margin: 0 5px;
    width: calc(100vw - 110px);
    max-width: 484px;
}

.space {
    width: 40px;
    flex-shrink: 0;
}

.menu-btn {
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.menu-btn span {
    display: block;
    height: 4px;
    width: 28px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    transition: all .4s;
}

.menu-btn span:first-child {
    bottom: 8px;
}

.menu-btn span:last-child {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span:nth-child(2) {
    opacity: 0;
}

#menu-btn-check:checked~.menu-btn span:first-child {
    bottom: 18px;
    transform: rotate(-45deg);
}

#menu-btn-check:checked~.menu-btn span:last-child {
    top: 18px;
    transform: rotate(45deg);
}

#menu-btn-check {
    display: none;
}


#navi li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

#navi li a {
    display: block;
    text-decoration: none;
    color: var(--mainColor);
}

#navi li a:first-child {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Current';
}

#navi li a:last-child {
    font-weight: 500;
}

/* タイトル */
#title {
    width: 100%;
    height: 25vw;
    min-height: 13rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: relative;
}

#title>img {
    display: block;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}

#title>div {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#title h2 {
    margin-top: 0.3rem;
    font: 2.5rem 'Current';
    white-space: nowrap;
}


/* コンテンツ */
main {
    margin-top: 50px;
}

main a {
    text-decoration-line: none;
    font-weight: bolder;
    color: #c0a14f;
    word-wrap: break-word;
}

section {
    width: 100%;
    padding: 5rem var(--sideSpace);
}

section:nth-of-type(even) {
    background-color: #f6f6f6;
}


section>h2 {
    font: 2.5rem 'Current';
    color: var(--mainColor);
    text-align: center;
}

section>h2+p {
    font-size: 1rem;
    color: var(--subColor);
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
}

section>div {
    max-width: var(--maxWidth);
    margin: 0 auto;
}

section>div p {
    text-indent: 1rem;
}

section>div img {
    width: 100%;
    max-width: 50rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

section>div img+p {
    font-size: 1rem;
    color: var(--subColor);
    text-align: center;
    margin-bottom: 1rem;
}


section>h3 {
    font: 2.5rem 'Kiwi Maru';
    color: var(--mainColor);
    text-align: center;
}

section>h3+p {
    font-size: 1rem;
    color: var(--subColor);
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
}


section h4 {
    font-size: 1.3rem;
    font-family: 'Kiwi Maru';
    margin: 0.5rem 0;
}

section h5 {
    font-size: 1.1rem;
    margin: 0.2rem 0;
    font-family: 'Kiwi Maru';
}


/* コンテンツ内の各種パーツ */

.qa {
    padding: 0.5rem 0;
}

.qa:first-of-type {
    padding-top: 0;
}

.qa>div {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: 0.5rem center;
    min-height: 3rem;
    padding-left: 4.3rem;
    padding-right: 0.5rem;
    margin: 0.5rem 0;
}

.qa>div:first-of-type {
    background-image: url(../img/question.svg);
}

.qa>div:last-of-type {
    background-image: url(../img/answer.svg);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.gallery a {
    text-decoration: none;
    font-family: 'Kiwi Maru';
    color: #000;
    width: calc(calc(100% - 2rem) / 3);
}



#pickup>.gallery a {
    width: calc(calc(100% - 3rem) / 4);
}


.gallery img {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #eaeaea;
    object-fit: cover;
}

/* ここから横幅によるやつ */
@media screen and (max-width: 980px) {

    /* 980pxまでの幅の場合に適応される */
    .gallery a {
        width: calc(calc(100% - 1rem) / 2);
    }

    #pickup .gallery a:last-child {
        display: none;
    }

    #pickup .gallery a {
        width: calc(calc(100% - 2rem) / 3);
    }
}

@media screen and (max-width: 680px) {

    /* 680pxまでの幅の場合に適応される */
    .gallery a {
        width: calc(calc(100% - 1rem) / 2);
    }

    #pickup .gallery a:last-child {
        display: inline;
    }

}

@media screen and (max-width: 600px) {

    /* 600pxまでの幅の場合に適応される */
    .gallery a {
        width: 100%;
    }

    /* .gallery a:nth-last-child(-n+3) {
        display: none;
    } */
}


/* フッター */
footer {
    background: #f8f4e7;
    padding: 2rem var(--sideSpace);
    text-align: center;
    color: var(--subColor);
    width: 100%;
}

.sns {
    text-align: center;
    padding: 2rem var(--sideSpace);
}

.sns li {
    display: inline-block;
    vertical-align: middle;
    height: 1.5rem;
    padding: 0 0.75rem;
}

.sns img {
    height: 100%;
}


.modal_pop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.bg {
    background-color: #1119;
    width: 100%;
    height: 100%;
    position: fixed;
}

.modal_pop img {
    width: 80%;
    max-width: calc(var(--maxWidth) * 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f4e7;
}


a.more {
    display: block;
    width: 12rem;
    margin: 0 auto;
    margin-top: 2.8rem;
    padding: 0.8rem 0rem;
    border: solid 1px var(--mainColor);
    color: var(--mainColor);
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 600px) {

    /* 600pxまでの幅の場合に適応される */
    header .space {
        display: none;
    }
}

.date {
  font-size: 0.9rem;
  color: #888;
  margin-left: 5px;
}
