header {
  margin-top: -50px;
  position: sticky;
  background-color: #ffffff00;
  transition: none;
}

header use {
  fill: #fff;
  transition: fill .4s;
}


header.is-scroll {
  background-color: #ffffff;
  transition: background-color .3s;
}

header.is-scroll use {
  fill: var(--mainColor);
}

.menu-btn span {
  background-color: #ffffff;
}



header.is-scroll .menu-btn span {
  background-color: var(--mainColor);
}


#menu-btn-check:checked~.menu-btn span {
  background-color: var(--mainColor);
}




#top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.slide {
  height: 100%;
  background-image: url(../img/topbg.jpg);
  background-size: cover;
  background-position: 50% 46.5%;
  text-align: center;
}

main {
  margin-top: 0;
}



#news table {
  margin: 0 auto;
}

#news td {
  padding: 0.5rem 0;
}

#news tr>td:first-child {
  color: #555;
  white-space: nowrap;
  padding-right: 1rem;
}

#news a {
  color: #000;
  text-decoration-line: none;
}


#about>div {
  text-align: center;
  line-height: 2.5;
}

#about>div>p {
  text-indent: 0;
}


#sns .sns {
  padding: 1rem var(--sideSpace);
}


#sns .sns li {
  height: 2.7rem;
  padding: 0 1.3rem;
}

@media screen and (max-width: 600px) {

  /* 600pxまでの幅の場合に適応される */
  header .space {
    display: inline;
  }

  header.is-scroll .space {
    display: none;
  }
}